{
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended"
	],
	"env": {
		"browser": true
	},
	"rules": {
		"prettier/prettier": 0,
		"import/no-unresolved": 0,
		"@wordpress/no-unsafe-wp-apis": 0
	}
}
