/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

:root .prism-enabled.prism-wrap-lines [class*="language-"] {
	white-space: pre-wrap;
	word-break: break-word;
	overflow-wrap: anywhere;
}
